import(Biobase, hwriter, methods, stringr, statmod, biomaRt, GenomicRanges, Rsamtools)

exportClasses( "ExonCountSet" )

exportMethods(
  counts, "counts<-", "[",
  sizeFactors, "sizeFactors<-",
  design, "design<-",
  estimateSizeFactors,
  estimateDispersions,
  plotDispEsts,
  plotMA
)

export(
  newExonCountSet,
  geneIDs, "geneIDs<-",
  exonIDs, "exonIDs<-",
  subsetByGenes,
  geneCountTable,
  countTableForGene,
  modelFrameForGene,
  estimateExonDispersionsForModelFrame_BM,
  fitDispersionFunction,
  read.HTSeqCounts,
  DEXSeqHTML,
  DEUresultTable,
  plotDEXSeq,
  estimatelog2FoldChanges,
  doCompleteDEUAnalysis,
  makeCompleteDEUAnalysis_BM,
  constructModelFrame,
  estimateDispersions,
  testForDEU,
  estimateDispersions_BM,
  testGeneForDEU_BM,
  testForDEU_BM,
  perGeneQValue,
  countReadsForDEXSeq,
  buildExonCountSet,
  prepareAnnotationForDEXSeq
)


