import(Biobase, MASS, hwriter, methods)

exportClasses( "ExonCountSet" )

exportMethods(
  counts, "counts<-",
  sizeFactors, "sizeFactors<-",
  design, "design<-",
  estimateSizeFactors,
  estimateDispersions
)

export(
  newExonCountSet,
  geneIDs, "geneIDs<-",
  exonIDs, "exonIDs<-",
  subsetByGenes,
  geneCountTable,
  countTableForGene,
  modelFrameForGene,
  assertOneWay,
  profileLogLikelihood,
  estimateExonDispersionsForModelFrame,
  fitDispersions,
  testGeneForDEU,
  testForDEU,
  read.HTSeqCounts,
  DEXSeqHTML,
  DEUresultTable,
  plotDEXSeq,
  estimatelog2FoldChanges
)


