exportClasses( "ExonCountSet" )
export(
newExonCountSet,
counts,
"counts<-",
sizeFactors,
"sizeFactors<-",
design,
"design<-",
geneIDs,
"geneIDs<-",
exonIDs,
"exonIDs<-",
# commonDispersion,
# "commonDispersion<-",
subsetByGenes,
geneCountTable,
estimateSizeFactors,
countTableForGene,
modelFrameForGene,
assertOneWay,
profileLogLikelihood,
estimateExonDispersionsForModelFrame,
# estimateCommonDispersion,
estimateDispersions,
testGeneForDEU,
testForDEU,
read.HTSeqCounts,
DEXSeqHTML,
DEUresultTable,
plotDEXSeq,
makeExampleExonCountSet)
import(Biobase, MASS, hwriter)

